.list-main {
    display: grid;
    grid-gap: 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 2;
}

tr:nth-child(even) {
    background-color: #e9ebe9d8;
  }


header {
    height: 25px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    padding: 16px;
}

footer {
    text-align: left ;
    margin-top: auto;
    border:  0px;
    padding: 24px 0px 24px 10px;
    background-color: rgb(243, 192, 96);
}

img {
    height: 200px;
    padding: 15px;
}

nav {
    text-align: center;
    height: inherit;
    background-color: rgba(201, 96, 10, 0.452);
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
}

recipie-text-color {
    color:  darkorange;
}
